.home
  background: #000
  overflow: hidden

  &-gradient
    position: relative

    &__block
      position: absolute
      top: -1250px
      left: 55%
      height: 900px
      width: 900px
      transform: rotate(53.18deg)
      transform-origin: 0 0
      background: #1A2C5F
      box-shadow: 250px 250px 250px 1px #1A2C5F
      background: #1A2C5F
      opacity: 0.6
      z-index: 10

  &-logo
    display: flex
    justify-content: center
    padding-top: 48px

  &-title
    margin-top: 230px
    color: #fff
    font-size: 128px
    font-weight: 500
    line-height: 153.60px
    word-wrap: break-word
    text-align: center

    &__name
      background: linear-gradient(90deg, rgba(0, 90, 167, 1), rgba(255, 253, 228, 1))
      -webkit-background-clip: text
      color: transparent

  &-description
    color: #fff
    font-size: 20px
    font-weight: 100
    line-height: 28px
    word-wrap: break-word
    width: 700px
    text-align: center

    &__container
      display: flex
      justify-content: center
      margin-top: 16px


  &-benefits
    margin-top: 517px

    &-title
      color: #fff
      font-size: 64px
      font-weight: 500
      word-wrap: break-word
      text-align: center

